<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Entraide numérique à Couëron</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Accueil</a></li>
					<li><a href="/calendrier" class="link">Calendrier</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Réseaux sociaux</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/profile.php?id=100089745422663" "svg" "icons-facebook") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
